* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main,
header,
footer {
  height: 200px;
  width: 100%;
  background-color: burlywood;
}
